
#boxes{
    margin: auto;
    width: 95%;
    height: 95%;

}
#leftbox {
    width:25%;
    padding: 5%;
    bottom: 40%;
    float: left;
    text-align: justify;

}
#middlebox{
    margin-left: 50%;
    width:50%;
}
h1{
    color:green;
    text-align:center;
}
#middlebox img{
    width: 40%;
    height: auto;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* fraction*/
    bottom: 5%;

  }
  .container img{
    width: 35%;
    
    bottom: 0px;
  }
header{
    position: sticky;
    
}
nav{
    background-color: rgb(60, 179, 60);
    
}
#bol{
    width: 140px;
    float: left;
    margin: 10px;
   
}
#header{
    
    text-align: center;
   
}
.titleHeader{
    margin-left: 200px;
    color: white;  
}
.buttonNav{
    cursor: pointer;
    margin-bottom: 10px;
    height: 50px;
    width: 130px;
    background-color: rgb(68, 102, 17);
    margin-top: 10px;
    border: 2px solid #081114;
}
.buttonNav:hover{
    background-color: rgb(16, 75, 16);
}
.footer-dark {
    color:black;
    background-color:rgb(60,179,60);
  }
  
  .footer-dark h3 {
    text-align:center;
    margin-top:5;
    margin-bottom:5px;
    font-weight:bold;
    font-size:25px;
  }
  
  .footer-dark ul {
    text-align:center;
    padding: 40px;
    list-style:none;
    line-height:2;
    font-size:20px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:black;
    text-decoration:none;
    opacity:1;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:0px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .fa{ 
      text-align: center;
   }
  .footer-dark .item.social > a {
    font-size:30px;
    width:59px;
    height:59px;
    line-height:59px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:1;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:0px;
    font-size:20px;
    margin-bottom:0;
  }

